@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --muted: 240 3.7% 15.9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-color: hsl(20, 14.3%, 4.1%);
}

.buttons-container {
  @apply mr-[20px] text-center;
}
h2 {
  @apply flex justify-between items-center cursor-pointer bg-muted text-white my-2 py-2 px-4 text-center rounded-lg w-full hover:bg-[#3069a7];
}
h4 {
  @apply text-[12px] mb-[5px] text-center;
}
button {
  @apply block w-[170px] p-1 border-none bg-[#6c757d] text-white text-[14px] cursor-pointer rounded hover:bg-[#5a6268];
}

iframe {
  @apply border-none w-full h-[850px] active:block;
}

.report-banner {
  @apply bg-muted text-white mt-[5px] text-center p-[5px] mb-[5px] rounded-lg;
}
.report-banner.active {
  display: block;
}
.other-reports-container {
  @apply ml-[20px] text-center;
}
footer {
  @apply text-center bg-muted py-[10px];
}

footer p {
  @apply text-[12px] text-white m-0;
}

footer a {
  @apply text-[#007bff] hover:text-[#0069d9] no-underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
